<div class="jumbotron" style="position: relative;" >
    <div class="text-center">
        <h1 class="display-4">Abhilash Thakur</h1>
        <h3>Software Engineer</h3>
    </div>
    <div style="position: absolute; bottom: 5px;right: 10px;">
        <a href="//linkdin.com" target="_blank">
            <img src="../../assets/linkdin.png" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="//facebook.com"target="_blank" class="">
            <img src="../../assets/facebook.png" width="24" height="24" class="rounded-circle me-2">
        </a>
        <a href="//github.com"target="_blank" class="">
            <img src="../../assets/github.png" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>
</div>